.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.modal-close-button {
    float: right;
    border: none;
    background-color: transparent;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-content-container {
    background-color: #fefefe;
    margin: 8%;
    padding: 2%;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%;
}

/* Settings Modal */

#settings-modal-content {
    display: flex;
    flex-direction: column;
}

#dvd-mode-setting-title {
    text-align: center;
    margin-top: 1%
}

.input {
    background-color: white;
    border-radius: 5px;
    border-width: 0.1;
    margin-left: 5%
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #000000;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round:before {
    border-radius: 50%;
}

/* End Settings Modal */

/* Credits Modal */

#credits-modal-content {
    text-align: center;
}

.credits-text {
    margin: 5%;
}

#github-link {
    color: black;
    display: block;
}

#github-link:visited {
    color:black;
}

/* End Credits Modal */